body {
    overflow-x: hidden;
}

img {
    width: 40rem;
    border-radius: 1rem;
    border-style: none;
}

img:hover {
    animation: 0.5s pop linear infinite;
}

.icon {
    font-size: 1.5rem;
}

.icon:hover {
    animation: 0.5s fade linear infinite;
}

.heart:active {
    animation: 0.5s like linear;
}

.message {
    width: fit-content;;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: #eeeeee;

    border-radius: 1rem;
    border-style: none;
}

@keyframes like {
    0% { color: red; }
    50% { }
    100% { color: red; }
}

@keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes pop {
    0% { margin-top: 0; }
    50% { margin-top: -0.5rem; margin-bottom: 0.5rem; }
    100% { margin-top: 0; }
}
